{% extends "elections/base.html" %}

{% block title %}Edycja obwodu{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <div class="input-group">
                            {{ field.errors }}
                            <span class="input-group-addon">
                                {{ field.label }}
                            </span>
                            <input type="number" name="{{ field.name }}" value="{{ field.value }}"
                                   class="form-control" required id="{{ field.auto_id }}"
                                   aria-describedby="addon_{{ field.auto_id }}"
                                   {% if field.field.disabled %}
                                       disabled
                                   {% endif %}
                            />
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-default">Zapisz</button>
            </form>
        </div>
    </div>
{% endblock %}
