{% extends "elections/base.html" %}

{% block title %}Edycja obwodu{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Wyniki</h3>
            {% if user.is_authenticated %}
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in results_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}" class="col-md-5 control-label">{{ field.label }}</label>
                            <div class="col-md-7">
                                <input type="number" name="{{ field.html_name }}" value="{{ field.value }}"
                                       class="form-control" required id="{{ field.id_for_label }}"
                                       {% if field.field.disabled %}
                                           disabled
                                       {% endif %}
                                />
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default" name="results_form">Zapisz</button>
                </form>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Zdjęcia protokołu</h3>
            {% if protocols %}
                <table class="table table-hover">
                    {% for url, name in protocols %}
                        <tr>
                            <td><a href="{{ url }}">{{ name }}</a></td>
                            <td><a href="." class="btn btn-danger btn-xs">Usuń</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Brak zdjęć protokołu w tym obwodzie.</p>
            {% endif %}
            <h3>Dodaj zdjęcie</h3>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">{{ file_form }}</div>
                <button type="submit" class="btn btn-default" name="file_form">Dodaj</button>
            </form>
        </div>
    </div>
{% endblock %}
