body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

nav {
    margin-bottom: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.big-table {
    width: 100%;
    overflow-x: auto;
}

.half-table {
    width: 100%;
}

td, th {
    border: 1px solid lightgrey;
    padding: 5px;
}

.half-table th {
    text-align: left;
}

.half-table td, .half-table th {
    border-left: 0;
    border-right: 0;
}

.half {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}

.row {
    clear: both;
}

.half {
    width: 48%;
}

#chart, #map {
    width: 60%;
    margin-left: 20%;
}

@media screen and (max-width: 1000px) {
    .half {
        width: 98%;
    }

    #chart, #map {
        width: 100%;
        margin-left: 0;
    }
}

@media print {
    #chart {
        width: 100%;
        margin-left: 0;
    }

    #map {
        display: none;
    }
}

td.nowrap {
    white-space: nowrap;
}
