{% extends 'elections/base.html' %}

{% block title %}Zaloguj{% endblock %}
{% block navbar_login %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {% if user.is_authenticated %}
                Jesteś już zalogowany.
            {% else %}
                <h2>Logowanie</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.username.errors }}
                        <input type="text" name="{{ form.username.html_name }}" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Login"/>
                    </div>
                    <div class="form-group">
                        {{ form.password.errors }}
                        <input type="password" name="{{ form.password.html_name }}" required id="id_password" class="form-control" placeholder="Hasło" />
                    </div>
                    <button type="submit" class="btn btn-default">Zaloguj</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
